---
import I18NDebug from "@ariaskit/astro-i18n/I18NDebug.astro";
import Arrow from "@lucide/astro/icons/corner-right-up";

type Item = {
    nameKey: string;
    descriptionKey: string;
    name: string;
    description: string;
    link?: string;
};

interface Props {
    title: { key: string; value: string };
    projects: Item[];
}

const { title, projects } = Astro.props as Props;
---

<section id="Proyectos" class="scroll-mt-32">
    <I18NDebug key={title.key}>
        <h2 class="opacity-50 uppercase mb-6">{title.value}</h2>
    </I18NDebug>

    <ul class="space-y-3">
        {
            projects.slice(0, 6).map((project) => (
                <li class="group">
                    <I18NDebug key={project.nameKey}>
                        <span class="mb-5 font-semibold transition-all duration-200 text-green-500">
                            {project.name}
                        </span>
                        <Arrow class="h-3 w-3 inline text-green-500 ml-1" />
                    </I18NDebug>

                    <I18NDebug key={project.descriptionKey}>
                        <p class="opacity-50 text-[0.88rem]">
                            {project.description}
                        </p>
                    </I18NDebug>
                </li>
            ))
        }
    </ul>
</section>